# Auto detect text files and perform LF normalization
* text=auto
create database MYDB;
create table MYDB. customers(
cust_id int primary key not null,
cust_firstname varchar(20)not null,
cust_lastname varchar(10) not null,
cust_nickname varchar(10),
cust_age int,
cust_Gender varchar(5) not null,
cust_country varchar(10),
cust_salary decimal